body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/*Jumbotron which includes the current date*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*Container for the time blocks*/
.container {
  padding: 20px;
}

/*Events for each timeblock*/
.description {
  white-space: pre-wrap;
  text-align: left;
  width: 88%;
  padding-left: 10px;
  position: relative;
}

/*Time block which contains the row(time, event and button)*/
.time-block {
  text-align: center;
  border-radius: 15px;
}

/*Row which contains the time, event and button
This is a flexbox to allow for better resizing based on screen size*/
.row {
  display: flex;
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/*The time that corresponds to the time block*/
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 8%;
  text-align: right;
}

/*If the time block is before the current time, make it gray*/
.past {
  background-color: #d3d3d3;
  color: black;
}

/*If the time block is the same hour as the current time, make it red*/
.present {
  background-color: #ff6961;
  color: black;
}

/*If the time block is after the current time, make it green*/
.future {
  background-color: #77dd77;
  color: black;
}

/*Style the save button*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  width: 4%;
}

/*Save button hover animation*/
.saveBtn:hover {
  font-size: 20px;
  transition: all .5s ease-in-out;
}

/*Text input field for when the user wants to modify an event*/
.text-input {
  border: none;
  border-color: transparent;
  background-color: transparent;
}